body,
html {

    height: 100%;
    margin: 0px;
    font-family: Arial;
}

h1 {
    font-size: 4em;
    margin: 0px;
}

p {
    font-size: medium;
    padding-top: 15px;
    margin: 0px;
}

/* Style tab links */
.tablink {
    /* background-color: #555; */
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5em;
    font-size: medium;
    width: 33.333333%;
}

#focus.tablink {
    background-color: #ff2525;
}

#pause.tablink {
    background-color: #48c348;
}

#longpause.tablink {
    background-color: #417be7;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    /* padding-top: 50px; */
    height: 100%;
}

#Wrapper {
    background-color: #ff2525;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.centerVertical{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pauseButton {
    background-color: #ffd900;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #2a2a2a;
    font-size: medium;
    /* padding: 16px 18px; */
    text-decoration: none;
    border-width: 0px;
}

.pauseButton:hover {
    background-color: #ffa200;
}

.pauseButton:active {
    position: relative;
    top: 1px;
}

.timerButton {
    border-radius: 10px;
    border-style:hidden;
    display: inline-block;
    cursor: pointer;
    color: #2a2a2a;
    font-size: medium;
    padding: 0.6em;
    border-width: 0px;
}

#startButton{
    background-color: #35de92;
}

#startButton:hover {
    background-color: #00b865;
}

#startButton:active {
    position: relative;
    top: 1px;
}

#pauseButton {
    background-color: #ffd900;
    color: #2a2a2a;
}

#pauseButton:hover {
    background-color: #ffa200;
}

#pauseButton:active {
    position: relative;
    top: 1px;
}

#stopButton {
    background-color: #d61717;
    color: #ffffff;
}

#stopButton:hover {
    background-color: #990000;
}   

#stopButton:active {
    position: relative;
    top: 1px;
}   

#resetButton {
    background-color: #2591d9;
    color: #ffffff;
}

#resetButton:hover {
    background-color: #006b8f;
}

#resetButton:active {
    position: relative;
    top: 1px;
}

#timerValues {
    border-radius: 10px;
    margin: 15px auto 15px auto;
    width: fit-content;
    padding: 10px;
    font-size: 3em;
}

#Timer {
    margin-right: 50px;
}

#player {
    border-radius: 10px;
}

#pinInPlace {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

#loadVideoForm {
    margin-top: 0.4em;
    display: flex;
    width:auto;
    align-items: center;
    justify-content: space-between;
}

::placeholder {
    color: rgba(255, 255, 255, 0.501)
}

#loadVideoForm input{
    width:74%;
    font-size: medium;
    padding: 0.55em;
    border-radius: 10px;
    border-width: 0px;
    background-color: #ff6f6f;
    color: white;
}

#loadVideoForm input:focus{
    outline:none;
    border-width: 1px;
    border-style:solid;
    border-color: #d71e1e
}

#loadVideoForm button{
    width: auto;
    border-radius: 10px;
    border-width: 0px;
    padding: 0.6em;
    font-size: medium;
    background-color: #d61717;
    color: white;
    cursor: pointer;
}

#loadVideoForm button:hover{
    background-color: #990000;
}

#loadVideoForm button:active{
    position: relative;
    top: 1px;
}